<div class="box">
  <div class="outer-box">
      <h2 class="header">Create Line</h2>
      <div class="inside-flex">
        <div class="alert alert-success marg" *ngIf="success">
          <strong>You have successfully created Line!</strong> 
        </div>
        <div class="alert alert-danger marg" *ngIf="error">
          <strong>Something wrong! Please check form</strong> 
        </div>
      </div>
      <form 
        id="createLineForm" 
        class="form" 
        name="form" 
        role="form"
        (ngSubmit)="onSubmit()"
        [formGroup]="lineForm"
        *ngIf="!success"
      >   
          <div class="inside-flex">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Enter line name" formControlName="name" required>
              <div *ngIf="lineForm.get('name')?.invalid && (lineForm.get('name')?.dirty || lineForm.get('name')?.touched)">
                  <small class="form-text text-danger" *ngIf="lineForm.get('name')?.errors?.['required']">Your name is required.</small>
                  <small class="form-text text-danger" *ngIf="lineForm.get('name')?.errors?.['invalid']">Your name is invalid.</small>
              </div>
          </div>
          <div class="inside-flex">
              <label for="start_time" class="form-label">Start Line</label>
              <input type="time" id="start_time" name="start_time" class="form-control" placeholder="Enter when line starts" formControlName="start_time" required>
              <div *ngIf="lineForm.get('start_time')?.invalid && (lineForm.get('start_time')?.dirty || lineForm.get('start_time')?.touched)">
                  <small class="form-text text-danger" *ngIf="lineForm.get('start_time')?.errors?.['required']">Your start time is required.</small>
                  <small class="form-text text-danger" *ngIf="lineForm.get('start_time')?.errors?.['invalid']">Your start time is invalid.</small>
              </div>
          </div>
          <div class="inside-flex">
              <label for="end_time" class="form-label">End Line</label>
              <input type="time" id="end_time" name="end_time" class="form-control" placeholder="Enter when line ends" formControlName="end_time" required>
              <div *ngIf="lineForm.get('start_time')?.invalid && (lineForm.get('end_time')?.dirty || lineForm.get('end_time')?.touched)">
                  <small class="form-text text-danger" *ngIf="lineForm.get('end_time')?.errors?.['required']">Your end time is required.</small>
                  <small class="form-text text-danger" *ngIf="lineForm.get('end_time')?.errors?.['invalid']">Your end time is invalid.</small>
              </div>
          </div>
          <div class="button-group">
              <button type="submit" class="pretty-button-submit" id="submitButton" [disabled]="lineForm.invalid">Submit</button>
              <button type="button" class="pretty-button-cancel" id="cancelButton" (click)="cancel()">Cancel</button>
          </div>
      </form>
  </div>
</div>