<div class="container-flex">
    <div class="navbar">
        <h2>Drivers Shifts</h2>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a [routerLink]="['/categories']">Categories</a></li>
                <li><a [routerLink]="['/drivers']">Drivers</a></li>
                <li><a [routerLink]="['/lines']">Lines</a></li>
                <li><a [routerLink]="['/shifts']">Shifts</a></li>
                <li><button class="logout-button" (click)="logout()">Logout</button></li>
            </ul>
        </nav>
    </div>
</div>
