<br>
<div class="box">
    <div class="outer-box">
        <br>
        <div class="header">Introduction:</div>
        <br>
        <div class="text-data">
            Hello! My name is Ivan, and I created this page where my master's thesis is located. 
            I graduated from the Faculty of Transport and Traffic Engineering and worked as an Engineer at the public city transport company for many years. 
            Since I developed a passion for programming, I enrolled in master's studies for software engineering. For my master's thesis topic, 
            I chose an application that deals with creating driver shifts. I have developed a program that automates the creation of driver shifts in 
            public city transport. The whole idea stemmed from the need to input drivers with their data, as well as the routes they will work on. 
            Each route should contain a name, start time, and end time. Based on this data, the required number of drivers for each route is calculated. 
            I assumed a driver's working time is 8 hours. That's how long driver shifts last in my city. I will later make it possible for the user 
            to input the desired duration of driver shifts themselves. My goal was to maximize the utilization of driver working hours so that a driver 
            can work on multiple routes, as long as they don't work more than 8 hours in total. I also used a framework for shifts. Finally, 
            I created artificial intelligence that serves to automatically schedule drivers and check if everything is in order. I used two programming languages, 
            Java and Python, and for the frontend, Angular. The database used in the application is PostgreSQL. Each user, when they input drivers and routes, 
            can only see their own drivers and routes, as well as the shifts. If I made a mistake in the calculation, please don't hold it against me.
            I had the best intention to create the best possible application that is also functional. All the best!
        </div>
    </div>
</div>